html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
  }
     
  #map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
  }


  #map svg {
    position: absolute;     /* Positions the SVG relative to the #map container */
    z-index: 1;             /* Ensures the SVG is above the map */
    width: 100%;            /* Makes the SVG fill the entire width of the map container */
    height: 100%;           /* Makes the SVG fill the entire height of the map container */
    pointer-events: none;   /* Ensures that the SVG does not block map interactions */
  }

  circle {
    pointer-events: auto; /* Enable tooltips */
    transition: r 0.2s ease-out;
    
    fill: var(--color);
  }
  circle:hover {
    fill-opacity: 1;
    stroke-width: 2;
  }
  

  #any-time {
    color: #aaa;
    font-style: italic;
    display: none;
  }
  
  #selected-time {
    display: block;
  }

  #map circle,
.legend > div {
  --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
      in oklch,
      var(--color-departures) calc(100% * var(--departure-ratio)),
      var(--color-arrivals)
    );
}

.legend {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-block: 10px; /* Space from map */
  font-size: 14px;
  font-weight: bold;
}

/* Legend Items */
.legend div {
  display: flex;
  align-items: center;
  gap: 6px; /* Smaller gap for child elements */
}


/* Swatch Style */
.legend div::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  display: inline-block;
}

.legend .departures::before {
  background-color: var(--color-departures);
}

.legend .balanced::before {
  background-color: var(--color);
}

.legend .arrivals::before {
  background-color: var(--color-arrivals);
}


  
  